campus-link:
  server:
    port: 8080
  db:
    mysql:
      host: localhost
      port: 3308
      username: root
      password: 123456
    redis:
      host: localhost
      port: 6379
      password: 123456
      database: 1